/* --- Importando Fontes --- */
@import url('https://fonts.googleapis.com/css2?family=Rye&family=Roboto:wght@300;400;500;700&display=swap');

/* --- Variáveis Globais (Cores do Restaurante) --- */
:root {
    --cor-laranja: #d35400; /* Cor destaque */
    --cor-marrom: #3e2723;  /* Cor base/texto escuro */
    --cor-bg-suave: #fff3e0;
    --cor-branco: #ffffff;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o footer fique embaixo mesmo com pouco conteúdo */
    background-color: #f8f9fa;
}

