/* --- Hero Section (Exclusivo da Home) --- */
.hero-section {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../img/img1.avif');
    background-size: cover;
    background-position: center;
    height: 80vh; /* Ocupa 80% da altura da tela */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.hero-title {
    font-family: 'Rye', serif;
    font-size: 4rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    margin-bottom: 20px;
}