.minha-navbar {
    border-bottom: 1px solid #000;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-nav .nav-link {
    color: #000 !important; /* Força a cor preta pura (Bootstrap usa cinza por padrão) */
    text-transform: uppercase; 
    font-size: 14px; /* Tamanho da fonte mais elegante */
    letter-spacing: 1px; /* Espaçamento entre as letras */
    font-weight: 500; /* Espessura da fonte */
    margin-left: 15px; /* Espaço entre os itens */
}

/* Efeito quando passa o mouse em cima */
.nav-item:hover {
    text-decoration: underline; /* Sublinha ao passar o mouse */
}