:root {
    --cor-laranja: #d35400; /* Cor destaque */
    --cor-marrom: #3e2723;  /* Cor base/texto escuro */
    --cor-bg-suave: #fff3e0;
    --cor-branco: #ffffff;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o footer fique embaixo mesmo com pouco conteúdo */
    background-color: #f8f9fa;
}

.minha-navbar {
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    background-color: var(--cor-branco) !important;
    padding: 15px 0;
}

.navbar-brand {
    font-family: 'Rye', serif; /* Fonte Faroeste */
    color: var(--cor-marrom) !important;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
}

.navbar-brand img {
    border: 2px solid var(--cor-laranja);
    padding: 2px;
}

.navbar-nav .nav-link {
    color: #555 !important;
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 1px;
    font-weight: 500;
    margin-left: 15px;
    transition: color 0.3s;
}

.nav-item.active .nav-link,
.nav-item:hover .nav-link {
    color: var(--cor-laranja) !important;
    text-decoration: none;
}

/* --- Rodapé Padronizado --- */
footer {
    background-color: var(--cor-marrom);
    color: white;
    padding: 40px 0 20px 0;
    margin-top: auto; /* Empurra o footer para o final */
}

footer h5 {
    color: var(--cor-laranja);
    font-family: 'Rye', serif;
    margin-bottom: 20px;
}

footer p, footer small {
    color: rgba(255, 255, 255, 0.8);
}

footer i {
    color: var(--cor-laranja);
}