/* --- Estilização do Formulário --- */
.reservation-box {
    background-color: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    border-top: 5px solid #d35400;
    margin-top: 50px;
    margin-bottom: 50px;
}

.form-control {
    border-radius: 8px;
    padding: 12px;
    border: 1px solid #ced4da;
}

.form-control:focus {
    border-color: var(--cor-laranja);
    box-shadow: 0 0 0 0.2rem rgba(211, 84, 0, 0.25);
}

.btn-reserva {
    background-color: #d35400;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 8px;
    padding: 12px 30px;
    transition: all 0.3s;
    border: none;
}

.btn-reserva:hover {
    background-color: #3e2723;
    color: white;
    transform: translateY(-2px);
}